.Card {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;

  font-weight: bold;
  color: #aaa;

  padding: 1rem;
}

.Card:hover {
  box-shadow:  inset -20px -20px 80px #efefef;
}

.Card + .Card {
  border-top: 1px solid #ccc;
}

.Card:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  list-style-type: none;
  padding: 0;
}
